$font-family: "-apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, roboto, noto, 'segoe ui', arial, sans-serif";

* {
	font-size: 16px;
}

h1 {
	font-size: 1rem;
	line-height: 1rem;
}

h2 {
	font-size: 1rem;
	line-height: 1rem;
}

h3 {
	font-size: 1rem;
	line-height: 1rem;
}

h4 {
	font-size: 1rem;
	line-height: 1rem;
}

p {
	font-size: 1rem;
	line-height: 1rem;
}