@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  font-size: 16px;
}

h1 {
  font-size: 1rem;
  line-height: 1rem;
}

h2 {
  font-size: 1rem;
  line-height: 1rem;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
}

h4 {
  font-size: 1rem;
  line-height: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1rem;
}

html.is-changing .transition-slide {
  transition: transform 0.8s cubic-bezier(0.5, 0, 0.15, 1);
}

.transition-slide.is-next-container {
  transform: translateX(100%);
}

.transition-slide.is-previous-container {
  transform: translateX(-100%);
}

html.to-left .transition-slide.is-next-container {
  transform: translateX(-100%);
}

html.to-left .transition-slide.is-previous-container {
  transform: translateX(100%);
}

html.to-bottom .transition-slide.is-next-container {
  transform: translateY(-100%);
}

html.to-bottom .transition-slide.is-previous-container {
  transform: translateY(100%);
}

html.to-up .transition-slide.is-next-container {
  transform: translateY(100%);
}

html.to-up .transition-slide.is-previous-container {
  transform: translateY(-100%);
}

.header {
  width: 100%;
  margin-bottom: 50px;
}

nav {
  margin: 0 auto;
  border-radius: 30px;
  height: 82px;
  width: 100%;
  max-width: 1340px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7A7663;
}

.page--homepage nav,
.page--homepage .logo__bg {
  background-color: #FFF0AE;
}

.page--commerces nav,
.page--commerces .logo__bg {
  background-color: #A5DCC8;
}

.page--map nav,
.page--map .logo__bg {
  background-color: #61AADA;
}

.logo {
  position: relative;
  top: 30px;
}
.logo__bg {
  z-index: 0;
  position: absolute;
  top: -10px;
  right: -4px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.logo img {
  z-index: 1;
  position: relative;
}

a {
  transition: color 0.3s, border-color 0.3s;
}

a.is-active,
a:hover {
  color: #000000;
  border-color: #000000;
}

.pages {
  display: grid;
  width: 100%;
  height: 100vh;
}

.page {
  position: relative;
  grid-row: 1;
  grid-column: 1;
}

.page--homepage {
  background: url("../assets/bg-commerces.svg") no-repeat center center;
  background-size: cover;
}

.layout {
  padding: 40px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border: 1px solid #7A7663;
  border-radius: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button span {
  display: inline-flex;
}
.button svg {
  height: 20px;
  width: 20px;
}

.button--full {
  border: none;
  color: #000000;
}
.page--homepage .button--full {
  background-color: #FFF0AE;
}
.page--map .button--full {
  background-color: #61AADA;
}
.page--commerces .button--full {
  background-color: #A5DCC8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.6rem;
}
body .title-datas-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
body .title-datas-section h1 {
  font-size: 48px;
}
body .title-datas-section p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  max-width: 60rem;
}
body .datas-section .graph-1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 55rem;
  margin-left: 3rem;
}
body .datas-section .graph-1 #container {
  margin-bottom: 5rem;
}
body .datas-section .graph-2 {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: 30rem;
  align-items: center;
}
body .datas-section .graph-2 p {
  max-width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
body .btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
body .btn-section .button {
  display: flex;
  justify-content: center;
  width: 12rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: box-shadow 0.3s ease; /* Ajout de la transition */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre par défaut */
}
body .btn-section .button p {
  font-size: 1.6rem;
}
body .btn-section .button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Changement de l'ombre au survol */
}

/*# sourceMappingURL=style.css.map */
