@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  font-size: 16px;
}

h1 {
  font-size: 1rem;
  line-height: 1rem;
}

h2 {
  font-size: 1rem;
  line-height: 1rem;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
}

h4 {
  font-size: 1rem;
  line-height: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1rem;
}

html.is-changing .transition-slide {
  transition: transform 0.8s cubic-bezier(0.5, 0, 0.15, 1);
}

.transition-slide.is-next-container {
  transform: translateX(100%);
}

.transition-slide.is-previous-container {
  transform: translateX(-100%);
}

html.to-left .transition-slide.is-next-container {
  transform: translateX(-100%);
}

html.to-left .transition-slide.is-previous-container {
  transform: translateX(100%);
}

html.to-bottom .transition-slide.is-next-container {
  transform: translateY(-100%);
}

html.to-bottom .transition-slide.is-previous-container {
  transform: translateY(100%);
}

html.to-up .transition-slide.is-next-container {
  transform: translateY(100%);
}

html.to-up .transition-slide.is-previous-container {
  transform: translateY(-100%);
}

.header {
  width: 100%;
  margin-bottom: 50px;
}

nav {
  margin: 0 auto;
  border-radius: 30px;
  height: 82px;
  width: 100%;
  max-width: 1340px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7A7663;
}

.page--homepage nav,
.page--homepage .logo__bg {
  background-color: #FFF0AE;
}

.page--commerces nav,
.page--commerces .logo__bg {
  background-color: #A5DCC8;
}

.page--map nav,
.page--map .logo__bg {
  background-color: #61AADA;
}

.logo {
  position: relative;
  top: 30px;
}
.logo__bg {
  z-index: 0;
  position: absolute;
  top: -10px;
  right: -4px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.logo img {
  z-index: 1;
  position: relative;
}

a {
  transition: color 0.3s, border-color 0.3s;
}

a.is-active,
a:hover {
  color: #000000;
  border-color: #000000;
}

.pages {
  display: grid;
  width: 100%;
  height: 100vh;
}

.page {
  position: relative;
  grid-row: 1;
  grid-column: 1;
}

.page--homepage {
  background: url("../assets/bg-commerces.svg") no-repeat center center;
  background-size: cover;
}

.page--index {
  background: url("../assets/index.png") no-repeat center center;
  background-size: contain;
}

.layout {
  padding: 40px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--index {
  position: absolute;
  top: 21.1%;
  left: 25.2%;
  border-radius: 10px;
  width: 23.3%;
  height: 38%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}
.card--index h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.card--index img {
  width: 100%;
  height: auto;
}

.page--map main {
  width: 100%;
  height: 100%;
}
.page--map main #map {
  width: 100%;
  height: 100%;
}
.page--map main #map img {
  width: 10px;
  height: 10px;
}

.gm-style .gm-style-iw-c {
  background-color: #61AADA;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px !important;
}
.gm-style .gm-style-iw-c h4 {
  font-weight: bold;
}

.gm-style-iw-tc::after {
  background-color: #61AADA !important;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border: 1px solid #7A7663;
  border-radius: 50px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.button span {
  display: inline-flex;
}
.button svg {
  height: 20px;
  width: 20px;
}

.button--full {
  border: none;
  color: #000000;
}
.page--homepage .button--full {
  background-color: #FFF0AE;
}
.page--map .button--full {
  background-color: #61AADA;
}
.page--commerces .button--full {
  background-color: #A5DCC8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.6rem;
}

#homepage {
  height: 100vh;
  width: 100vw;
}
#homepage section {
  margin: auto;
  max-width: 850px;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#homepage section div h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1;
}
#homepage section div h1 span {
  color: #FFC600;
}
#homepage section div p {
  font-size: 20px;
  line-height: 2;
}
#homepage section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: 0.3s;
  background-color: #ffc8004b;
  width: fit-content;
  animation: btnAnim 1s 2s infinite alternate;
}
#homepage section a:hover {
  background-color: #FFC600;
  transform: scale(1.05);
  animation: none;
}

#commerces section {
  margin: auto;
  max-width: 1200px;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#commerces section h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
#commerces section p {
  font-size: 20px;
  font-weight: bold;
}
#commerces section #cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
#commerces section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: 0.3s;
  background-color: #a5dcc885;
  width: fit-content;
  animation: btnAnim2 1s 2s infinite alternate;
  align-self: center;
}
#commerces section a:hover {
  background-color: #A5DCC8;
  transform: scale(1.05);
  animation: none;
}
#commerces section #cards_section {
  display: flex;
  height: 40vh;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}
#commerces section #cards_section .cards {
  display: flex;
  width: 95%;
  min-height: 40vh;
  transition: 0.8s cubic-bezier(0.79, 0.01, 0.17, 1);
}
#commerces section #cards_section .cards .card {
  width: 24%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #0000004b;
  border-radius: 15px;
  height: 25vh;
  text-align: center;
  padding: 20px;
  transition: 0.2s;
}
#commerces section #cards_section .cards .card img {
  height: 100px;
}
#commerces section #cards_section .cards .card h6 {
  font-size: 24px;
}
#commerces section #cards_section .cards .card:nth-child(2n) {
  margin: auto;
  margin-bottom: 20px;
}
#commerces section #cards_section .cards .card:hover {
  background: #a5dcc885;
  transform: scale(1.05);
  cursor: pointer;
}
#commerces section #cards_section .btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#commerces section #cards_section .btn button {
  background: #A5DCC8;
  border: none;
  padding: 1rem;
  border-radius: 15px;
  cursor: pointer;
}
#commerces section #cards_section .btn button:hover {
  transform: scale(1.05);
}
#commerces section #cards_section .btn button i {
  color: white;
}
#commerces section .cards1 .up {
  background: #a5dcc885 !important;
}
#commerces section .cards1 .up:hover {
  transform: scale(1) !important;
}
#commerces section .cards1 .cards {
  transform: translateY(0vh);
}
#commerces section .cards2 .cards {
  transform: translateY(-40vh);
}
#commerces section .cards3 .down {
  background: #a5dcc885 !important;
}
#commerces section .cards3 .down:hover {
  transform: scale(1) !important;
}
#commerces section .cards3 .cards {
  transform: translateY(-80vh);
}

.back {
  position: fixed;
  bottom: 30px;
  left: 50px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  border: none;
  transition: 0.3s;
  display: flex;
  gap: 10px;
}
.back:hover {
  gap: 20px;
}

@keyframes btnAnim {
  0% {
    background-color: #ffc8004b;
  }
  100% {
    background-color: #FFC600;
  }
}
@keyframes btnAnim2 {
  0% {
    background-color: #a5dcc885;
  }
  100% {
    background-color: #A5DCC8;
  }
}
.title-datas-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.title-datas-section h1 {
  font-size: 48px;
}
.title-datas-section p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  max-width: 60rem;
}

.datas-section .graph-1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 55rem;
  margin-left: 3rem;
}
.datas-section .graph-1 #container {
  margin-bottom: 5rem;
}
.datas-section .graph-2 {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: 30rem;
  align-items: center;
}
.datas-section .graph-2 p {
  max-width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.btn-section .button {
  display: flex;
  justify-content: center;
  width: 12rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
  /* Ajout de la transition */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Ombre par défaut */
}
.btn-section .button p {
  font-size: 1.6rem;
}
.btn-section .button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Changement de l'ombre au survol */
}

/*# sourceMappingURL=style.css.map */
