@import "reset";
@import "variables";
@import "fonts";
@import "animations";
@import "nav";
@import "pages";

body {
	scrollbar-width: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.button {
	border: 1px solid $issy-brown;
	border-radius: 50px;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	gap: 10px;
	
	span {
		display: inline-flex;
	}
	
	svg {
		height: 20px;
		width: 20px;
	}
}

.button--full {
	border: none;
	color: $black;

	.page--homepage & {
		background-color: $issy-yellow;
	}
	
	.page--map & {
		background-color: $issy-blue;
	}
	
	.page--commerces & {
		background-color: $issy-green;
	}
	
}



#homepage{
    background-image: url('images/Background.png');
    height: 100vh;
    width: 100vw;

    section{
        margin: auto;
        max-width: 850px;
        height: 70vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        align-items: center;

        div{
            h1{
                font-size: 48px;
                text-align: center;
                margin-bottom: 20px;
                font-weight: bold;
				line-height: 1;
            
                span{
                    color: #FFC600;
                }
            }
    
            p{
                font-size: 20px;
                line-height: 2;
            }
        }

        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 20px;
            border: none;
            padding: 1rem 2rem;
            border-radius: 100px;
            transition: 0.3s;
            background-color: #ffc8004b;
            width: fit-content;
            animation: btnAnim 1s  2s infinite alternate;

            &:hover{
                background-color: #FFC600;
                transform: scale(1.05);
                animation: none;
            }
        }
    }
}

#commerces{
    section{
        margin: auto;
        max-width: 1200px;
        height: 70vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        h1{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p{
            font-size: 20px;
            font-weight: bold;
        }

        #cards{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }

        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 20px;
            border: none;
            padding: 1rem 2rem;
            border-radius: 100px;
            transition: 0.3s;
            background-color: #a5dcc885;
            width: fit-content;
            animation: btnAnim2 1s  2s infinite alternate;
            align-self: center;
    
            &:hover{
                background-color: #A5DCC8;
                transform: scale(1.05);
                animation: none;
            }
        }

        #cards_section{
            display: flex;
            height: 40vh;
            overflow: hidden;
            flex-direction: column;
            position: relative;

            .cards{
                display: flex;
                width: 95%;
                min-height: 40vh;
                transition: 0.8s cubic-bezier(0.79, 0.01, 0.17, 1);
                
                .card{
                    width: 24%;
                    margin: auto;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: solid 1px #0000004b;
                    border-radius: 15px;
                    height: 25vh;
                    text-align: center;
                    padding: 20px;
					transition: .2s;

                    img{
                        height: 100px;
                    }

                    h6{
                        font-size: 24px;
                    }

                    &:nth-child(2n){
                        margin: auto;
                        margin-bottom: 20px;
                    }

                    &:hover{
                        background: #a5dcc885;
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }
            }

            .btn{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                gap: 20px;

                button{
                    background: #A5DCC8;
                    border: none;
                    padding: 1rem;
                    border-radius: 15px;
                    cursor: pointer;

                    &:hover{
                        transform: scale(1.05);
                    }
                    
                    i{
                        color: white;
                    }
                }
            }
        }

        .cards1{
            .up{
                background: #a5dcc885 !important;

                &:hover{
                    transform: scale(1) !important;
                }
            }
            .cards{
                transform: translateY(0vh);
            }
        } 

        .cards2 .cards{
            transform: translateY(-40vh);
        }

        .cards3 {
            .down{
                background: #a5dcc885 !important;

                &:hover{
                    transform: scale(1) !important;
                }
            }

            .cards{
                transform: translateY(-80vh);                
            }
        }
    }
}

.back{
    position: fixed;
    bottom: 30px;
    left: 50px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border: none;
    transition: 0.3s;
    display: flex;
    gap: 10px;

    &:hover{
        gap: 20px;
    }
}

@keyframes btnAnim {
    0% {
        background-color: #ffc8004b;
    }
    100% {
        background-color: #FFC600;
    }
}

@keyframes btnAnim2 {
    0% {
        background-color: #a5dcc885;
    }
    100% {
        background-color: #A5DCC8;
    }
}
